.img {
    border-radius: 1rem;
    max-width: 100%;
    object-fit: cover;
  }
  .gallery__list {
      @extend %list;
      display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 90px);
    margin: 0 auto;
    max-width: 90%;
  }
  .gallery__item {
      &:nth-child(1) {
          grid-column: span 1;
          margin-top: 90px;
      }
      &:nth-child(2) {
          grid-column: 2;
          margin-top: 50px;
      }
      &:nth-child(3) {
          grid-row: 2;
          grid-column: 2;
          margin-top: 50px;
      }
      &:nth-child(4) {
          grid-column: span 2;
      }
      &:nth-child(5) {
          grid-row: 2;
          grid-column: 3;
          margin-top: 90px;
      }
      &:nth-child(6) {
          margin-top: 50px;
      }
      &:nth-child(7) {
          grid-row: 2;
          grid-column: 5;
          margin-top: 50px;
      }
      &:nth-child(8) {
          margin-top: 30px;
      }
      &:nth-child(9) {
          grid-row: 2;
          grid-column: 6;
          margin-top: 30px;
      }
      &:nth-child(10) {
          margin-top: 90px;
      }
  }
  .img {
    border-radius: 1rem;
    max-width: 100%;
    object-fit: cover;
  }
  .gallery__list {
      @extend %list;
      display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 90px);
    margin: 0 auto;
    max-width: 90%;
  }
  .gallery__item {
      &:nth-child(1) {
          grid-column: span 1;
          margin-top: 90px;
      }
      &:nth-child(2) {
          grid-column: 2;
          margin-top: 50px;
      }
      &:nth-child(3) {
          grid-row: 2;
          grid-column: 2;
          margin-top: 50px;
      }
      &:nth-child(4) {
          grid-column: span 2;
      }
      &:nth-child(5) {
          grid-row: 2;
          grid-column: 3;
          margin-top: 90px;
      }
      &:nth-child(6) {
          margin-top: 50px;
      }
      &:nth-child(7) {
          grid-row: 2;
          grid-column: 5;
          margin-top: 50px;
      }
      &:nth-child(8) {
          margin-top: 30px;
      }
      &:nth-child(9) {
          grid-row: 2;
          grid-column: 6;
          margin-top: 30px;
      }
      &:nth-child(10) {
          margin-top: 90px;
      }
  }
  

