<div id="slider" class="slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
  <div class="slide">
    <div class="photo">
      <picture>
      <source
        srcset="
        images/reviews/x1/person1.webp 1x, images/reviews/x2/person1@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="images/reviews/x1/person1.png 1x, images/reviews/x2/person1@2x.png 2x"
        type="image/jpeg"
      />
      <img src="images/reviews/x1/person1.png" class="customers__img" alt="customers" />
    </picture>
    </div>
      <div class="name">Emily, Los Angeles </div>
        <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </div>
  </div>
  <div class="slide">
    <div class="photo">
      <picture>
      <source
      srcset="
        images/reviews/x1/person2.webp    1x,
        images/reviews/x2/person2@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      srcset="images/reviews/x1/person2.png 1x, images/reviews/x2/person2@2x.png 2x"
      type="image/jpeg"
    />
      <img src="images/reviews/x1/person2.png" class="customers__img" alt="customers" />
    </picture>
    </div>
      <div class="name">Emily, Los Angeles </div>
        <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </div>
  </div>
  <div class="slide">
    <div class="photo">
      <picture>
    <source
    srcset="
      images/reviews/x1/person3.webp    1x,
      images/reviews/x2/person3@2x.webp 2x
    "
    type="image/webp"
  />
  <source
    srcset="images/reviews/x1/person3.png 1x, images/reviews/x2/person3@2x.png 2x"
    type="image/jpeg"
  />
      <img src="images/reviews/x1/person3.png" class="customers__img" alt="customers" />
    </picture>
    </div>
      <div class="name">Emily, Los Angeles </div>
        <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </div>
  </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="../src/js/review.js"></script>
  