<section class="customers__section"> 
    <div class="container">
    <picture>
        <source
          srcset="
          images/reviews/x1/person1.webp 1x, images/reviews/x2/person1@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="images/reviews/x1/person1.png 1x, images/reviews/x2/person1@2x.png 2x"
          type="image/jpeg"
        />
        <source
        srcset="
          images/reviews/x1/person2.webp    1x,
          images/reviews/x2/person2@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="images/reviews/x1/person2.png 1x, images/reviews/x2/person2@2x.png 2x"
        type="image/jpeg"
      />
      <source
      srcset="
        images/reviews/x1/person3.webp    1x,
        images/reviews/x2/person3@2x.webp 2x
      "
      type="image/webp"
    />
    <source
      srcset="images/reviews/x1/person3.png 1x, images/reviews/x2/person3@2x.png 2x"
      type="image/jpeg"
    />
        <img src="images/reviews/x1/person1.png" class="customers__img" alt="customers" />
      </picture>
      <div class="mini-container">
      <p class="customers__label" >Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
      <p class="customers__text" >Emily, Los Angeles</p>
    </div>
    </div>
</section>










