<footer class="footer">
    <div class="footer-wrap conteiner">
        <div class="footer-title">
            <p class="footer-title__small">
                homemade ice cream made
            </p>
            <p class="footer-title__big">
                with passion
            </p>
        </div>
        <div class="footer__contacts">
            <div class="social">
                <ul class="social__list list">
                    <li class="social__item">
                        <a href="#" class="social__link link">
                            <!-- <svg class="social__icon" width="20px" height="20px">
                                <use href="./images/icons.svg#icon-github"></use>
                            </svg> -->
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link link">
                            <!-- <svg class="social__icon" width="20px" height="20px">
                                <use href="./images/icons.svg#icon-twitter"></use>
                            </svg> -->
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link link">
                            <!-- <svg class="social__icon" width="20px" height="20px">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg> -->
                        </a>
                    </li>
                </ul>
            </div>
            <address class="footer__address">
                <span class="footer__address--text">
                    Feel free to contact
                </span>
                <a href="tel:+610383766284" class="footer__address--link link">+61 (0) 383 766 284</a>
            </address>
        </div>
    </div>
    <div class="footer__copyright">
        © 2019 - IceCream. All Rights Reserved.
    </div>
</footer>